.gradStart {
    background-image: linear-gradient(to right,rgb(192, 205, 225) , rgb(182, 176, 208) );
}

.gradCenter {
    background-image: linear-gradient(to right,rgb(192, 205, 225) , rgb(182, 176, 208));
}

.gradEnd {
    background-image: linear-gradient(to right,rgb(192, 205, 225) , rgb(182, 176, 208));
    background-image: linear-gradient(to right,rgb(192, 205, 225) , rgb(182, 176, 208));
}
