.hover-overlay {
    position: relative;
}

.hover-overlay::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.hover-overlay:hover::after {
    opacity: 0.5;
    background-color: rgba(256, 256, 256, 0.2);
}