.carousel-home {
    width: 50%;
}

.carousel-item img {
    background-size: cover;
    background-position: center;
    height: 400px;
    /* width: 100%; */
}

.carousel-inner {
    margin-top: 120vh;

}